{% extends 'base.html' %} {% block title %}About{% endblock %} {% block content
%}
<section class="about-section">
  <div class="image-section">
    <img src="../static/images/about-image.png" alt="" />
  </div>
  <div class="content-section">
    <div class="ignou_image">
      <img src="../static/images/ignou-logo.png" />
    </div>
    <div class="student-details">
      <div>
        <p>Name</p>
        <h4>ROHIT YADAV</h4>
      </div>
      <div>
        <p>Enrollment no.</p>
        <h4>2100035072</h4>
      </div>
    </div>
    <p>Project Synopsis (BCSP - 064)</p>
    <h1>Vaccination booking system</h1>
    <h3>Introduction</h3>
    <p>
      This project is all about making vaccination accessible to everyone,
      regardless of age, background, or location. Our system provides a
      user-friendly platform where individuals can check vaccine availability,
      choose suitable time slots, and book appointments at vaccination centers
      near them. By removing barriers and simplifying the process, we aim to
      encourage higher vaccination rates and promote overall public health.
    </p>

    <p>
      In the following sections of this project, we will delve deeper into the
      features, methodology, and benefits of our Vaccination Booking System. Our
      goal is to support public health initiatives and ensure that getting
      vaccinated becomes a seamless and straightforward experience for all,
      contributing to the global effort to combat infectious diseases.
    </p>
    <p>
      Through this project, we hope to strengthen public health systems, protect
      vulnerable populations, and build resilient communities, where everyone
      can access the protection they need to lead healthier and more secure
      lives.
    </p>
  </div>
</section>
{% endblock %}
